#wrap{
    width: 100%;
    max-width: 1840px;
    margin: 0 auto;
}
.innerWrap{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    height: 100%;
    padding: 0px 15px;
}
/* header */
.stickyHeader{
    position:fixed;
    top: 0;
    z-index: 2;
    background-color: #f8f2e9;
    max-width: 1840px;
}
header{
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
}
.headerInner{
    width: 100%;
    height: 50px;
}
.logo{
    width: 5.6%;
}
nav{
    width : calc(100% - 8%);
    height: 5.0rem;
    justify-content: space-between;
    padding-left: 2rem;
    height: 100%;
    align-items: center;
    font-family: 'Gothic A1', sans-serif, "Roboto";
    font-weight: 500;
    vertical-align: middle;
    font-size: 16px;
}
.navLink{
    height: 100%;
}
nav ul{
    height: 100%;
}
nav ul li a, .users a {
    line-height: 4rem ;
    padding: 1rem;
    transition: all 0.3s;
}
nav ul li a:hover {
    line-height: 2rem;
    padding: 1rem 1rem 3rem
}
.users a:hover {
    line-height: 2rem;
    padding: 1rem 1rem 3rem
}
.users{
    height: 100%;
}
.demoButton{
    border: 1px solid #000;
    border-radius: 2.6rem;
    line-height: 5rem;
    transition: all 0.5s;
}
.demoButton:hover{
    background-color: #ED732E;
    border: 1px solid #ED732E ;
}
.demoButton a{
    padding: 20px;
    transition: all 0.5s;
}
.demoButton:hover a{
    padding: 20px;
    color: #f8f2e9;
}
/*sec1. MainVisual*/
.MainVisualWrap{
    justify-content: space-between;
}
.MainVisual_Text{
    width: 50%;
}
.MainVisual_Image{
    width: 50%;
}
h1{
    font-size:8.6rem;
    font-weight: 100;
    letter-spacing: -0.1rem;
    line-height: 9.4rem;
    word-wrap: break-word;
    padding-right: 10%;
    padding-top: 2rem;
  }
.MainVisual_Text__btnWrap{
    justify-content: flex-start;
}
.playVideoBtn, .contactBtn{
    border-radius: 5rem;
    display: block;
    position: relative;
}
.playVideoBtn{
    background-color: #000;
    margin-right: 2.8rem;
}
.contactBtn{
    background-color: #f8f2e9;
}
.MainVisual_Text button:after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4rem;
    transition: all 0.3s;
}
.playVideoBtn:after{
    background-color: #000;
    border: 1px solid #000;
}
.contactBtn::after{
    background-color: #f8f2e9;
    border: 1px solid #000;
}
.MainVisual_Text button:hover::after{
    transform: scale(1.08);
}
.MainVisual_Text a{
    font-size: 2.7rem;
    font-weight: 500;
    padding: 1.4rem 3.4rem;
    display: block;
    position: relative;
    z-index: 1;
}
.playVideoBtn a{
    color: #f8f2e9;
}
.contactBtn a{
    color: #000;
}
.MainVisual_Image__imageWrap{
    width: 100%;
    height: calc(100vh - 9rem);
    background: url(../assets/image/section1-temp-image.jpg) no-repeat;
    background-size: cover;
}
.MainVisual_Image__textWrap{
    bottom: 0;
    left:0;
    width: 50%;
    height: 28%;
    background-color: #FDF18B;
    padding: 0 0 0 1.4rem;
}
.employeeName{
    font-size: 4.8rem;
    font-weight: 100;
    padding-bottom:3rem;
}
.employeeGrowth, .employeeStory .link{
    font-size: 2.7rem;
    font-weight: 500;
    line-height: 3.6rem;
    padding-bottom:2.6rem;
}
.MainVisualArrow{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: 1px solid #000;
    display: block;
    position: absolute;
    top: -1.0rem;
    left: 40%;
    transition: all 0.3s;
    overflow: hidden;
}
.MainVisualArrowLink{
    font-size: 3rem;
    position: absolute;
    top:-0.2rem;
    left: 20%;
    opacity:1;
    transition: all 0.3s;
    animation: none;
}
.MainVisualArrow:hover .MainVisualArrowLink{
    opacity:1;
    animation:0.3s arrowSlide ;
}

@keyframes arrowSlide {
    0%{transform: translateX(0); opacity: 1;}
    25%{transform: translateX(20px); opacity: 0;}
    50%{transform: translateX(-20px); opacity: 0;}
    100%{transform: translateX(0); opacity: 1;}
  } 

/*sec2. MainDesc*/
#MainDescription{
    background-color: #FDF18B;
}
.MainDescription_text{
    padding: 4rem;
    font-size: 8.4rem;
    font-weight: 100;
    word-wrap: normal;
    letter-spacing: -0.2rem;
    line-height: 11rem;
}
.MainDescription_text button{
    background-color: none;
    border-radius: 5rem;
}
.MainDescription_text button:after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5rem;
    transition: all 0.3s;
    background-color: #000;
}
.MainDescription_text button:hover::after{
    transform: scale(1.08);
}
.MainDescription_text button a{
    font-size: 2.7rem;
    display: block;
    z-index: 1;
    position: relative;
    color: #f8f2e9;
    font-weight: 500;
    padding: 1.8rem 3.8rem;
}
.MainDescription_svgEffect{
    overflow: hidden;
}
/* sec3.MainBrands */
#MainBrands{
    padding: 4rem 0;
    font-size: 6.5rem;
    font-weight: 100;
    word-wrap: break-word;
    letter-spacing: -0.2rem;
    line-height: 8rem;
    margin-bottom: 10rem;
}
.MainBrandsTitle{
    width: 80%;
}
.brandsCarouselWrap{
    width: 100%;
    overflow: hidden
}
.num01{background: url("../assets/image/rowslide/rowslide-logo00.png") no-repeat;}
.num02{background: url("../assets/image/rowslide/rowslide-logo01.png") no-repeat;}
.num03{background: url("../assets/image/rowslide/rowslide-logo02.png") no-repeat;}
.num04{background: url("../assets/image/rowslide/rowslide-logo03.png") no-repeat;}
.num05{background: url("../assets/image/rowslide/rowslide-logo04.png") no-repeat;}
.num06{background: url("../assets/image/rowslide/rowslide-logo05.png") no-repeat;}
.num07{background: url("../assets/image/rowslide/rowslide-logo06.png") no-repeat;}
.num08{background: url("../assets/image/rowslide/rowslide-logo07.png") no-repeat;}
.num09{background: url("../assets/image/rowslide/rowslide-logo08.png") no-repeat;}
.num10{background: url("../assets/image/rowslide/rowslide-logo09.png") no-repeat;}
.num11{background: url("../assets/image/rowslide/rowslide-logo10.png") no-repeat;}
.num12{background: url("../assets/image/rowslide/rowslide-logo11.png") no-repeat;}
.num13{background: url("../assets/image/rowslide/rowslide-logo12.png") no-repeat;}
.num14{background: url("../assets/image/rowslide/rowslide-logo13.png") no-repeat;}
.brand{
    flex-shrink: 0;
    position: relative;
    width: 16rem;
    height: 4rem;
    background-size: contain;
    margin-right: 5rem;
    background-position: center;
}
/*sec4.MainGoals*/
/* .navLink{
    height: 100%;
}
nav ul{
    height: 100%;
}
nav ul li a, .users a {
    line-height: 4rem ;
    padding: 1rem;
    transition: all 0.3s;
}
nav ul li a:hover {
    line-height: 2rem;
    padding: 1rem 1rem 3rem
} */
#MainGoals{
    margin-bottom: 20rem;
}
.MainGoals_title{
    width: 60%;
    padding: 4rem 0;
    font-size: 6.5rem;
    font-weight: 100;
    word-wrap: break-word;
    letter-spacing: -0.2rem;
    line-height: 8rem;
}
.MainGoals_contents{
    color: #f8f2e9;
    width: 100%;
}

.Companies{
    background: url(../assets/image/section3-picture2.webp) no-repeat;
}
.Partners{
    background: url(../assets/image/section3-picture1.webp) no-repeat;
}
.Employees{
    background: url(../assets/image/section3-picture3.webp) no-repeat;
}
.MainGoals_content{
    width: calc(100% / 3);
    margin: 0 2.4rem 0 0;
    height: 86rem;
    background-size: cover;
    transform: translateY(0);
    transition: all 0.3s;
}
.MainGoals_content:hover{
    transform: translateY(-20px);
}
.MainGoals_content:hover .learnLink{
    animation: 0.3s arrowSlide  ;
}
.MainGoals_contents__textWrap{
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background:linear-gradient(180deg, rgba(0, 0, 0, 0) 19.27%, rgba(38, 30, 23, 0.6) 60.42%);
}
.MainGoals_contents__textWrap .text{
    bottom: 0;
    padding: 1rem;
}
.MainGoals_contents__textWrap .title{
    font-size: 2.7rem;
    margin-bottom: 0.8rem;
}
.MainGoals_contents__textWrap .description{
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin-bottom: 1.6rem;
}
.MainGoals_contents__textWrap .linkWrap{
    position: relative;
}
.MainGoals_contents__textWrap .linkWrap{
    font-size: 2.7rem;
    color: #f8f2e9;
    font-weight: 500;
}
.learnLinkWrap{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: 1px solid #f8f2e9;
    display: block;
    position: absolute;
    top: -1rem;
    left: 28%;
    overflow: hidden;
}
.learnLink{
    font-size: 3rem;
    position: absolute;
    color: #f8f2e9;
    top: 0rem;
    left: 24%;
    animation: none;
}

/* sec5.MainTalent */
#MainTalent .title{
    font-size: 8.4rem;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto 6.4rem;
    padding: 0px 15px;
    line-height: 9rem;
}
.MainTalent_Carousel{
    width: 100%;
    height: 376rem;
    /* overflow: hidden; */
    /*fixed width값 수정요망 */
}
.Carousel{
    width: 100%;
    height: 94rem;
    justify-content: space-between;
    position: absolute;
}
.attract{background-color: #ACE5FD; top:0}
.increase{background-color: #fdf18b; top: 94rem;}
.promote{background-color: #f6c99f; top: 188rem;}
.deliver{background-color: #aae69e; top: 282rem;}
.Carousel_textWrap{
    padding: 2rem;
    width: 42%;
}
.carousel_title{font-size: 2.1rem; padding-bottom: 1rem; font-family:'Gothic A1', sans-serif, "Roboto"; font-weight: 600;}
.carousel_subTitle{padding-left: 1rem; font-size: 6.5rem; padding-bottom: 4.0rem; line-height: 6.5rem;}
.carousel_mark{padding-left: 1rem; font-size: 18.6rem;}
.carousel_desc{padding-left: 1rem; font-size: 2.7rem; font-weight:500; font-family:'Gothic A1', sans-serif, "Roboto"; line-height: 3.8rem; word-wrap: break-word;}
.attract .imageWrap{background: url(../assets/image/section4-slide01.webp) no-repeat;}
.increase .imageWrap{background: url(../assets/image/section4-slide02.webp) no-repeat;}
.promote .imageWrap{ background: url(../assets/image/section4-slide03.webp) no-repeat;}
.deliver .imageWrap{ background: url(../assets/image/section4-slide04.webp) no-repeat;}
.Carousel .imageWrap{width: 50%; background-size: contain; background-position: center;}
.fixed{
    position:fixed;
    margin: 0 auto ;
    width: 100%;
    max-width: 1840px;
}
/* sec6.MainMembers */
#MainMembers{
    margin-top: 10rem;
    width: 100%;
}
#MainMembers .title{
    font-size: 6.5rem;
}
.members_Introduce{
    width: 32%;
    height: 100%;
    margin-right : 2rem;
}
.memberWrap{
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 2rem 1rem; 
    border-top: 1px solid #000;
    margin-left: 2rem;
}
.Robert{
    border-bottom: 1px solid #000;
}
.member_image{
    width: 91px;
    height: 100px;
    overflow: hidden;
}
.member_image img{width: 100%; height: 100%; object-fit:cover;}
.member_desc{
    width: calc(100% - 20%);
    flex-direction: column;
    padding:1rem;
}
.member_name{font-size: 2.9rem;}
.peyton .member_name{
    color:#ED732E;
}
.member_name:after{
    content:'';
    display: block;
    width:0%;
    height: 0px;
    border-bottom: 1px solid #000;
    position: absolute;
    top: 84%;
    transition: all 0.3s;
}
.memberWrap:hover .member_name::after{
    width:32%;
    height: 1px;
}
.peyton .member_name::after{
    width:32%;
    height: 1px;
    border-bottom: 1px solid #ED732E;
}
.memberWrap:hover{
    padding: 2.4rem 1rem; ;
}
.member_jop{font-size: 2.1rem; line-height: 2.2rem; word-wrap: break-word;}
.swiper{
    width: 80%;
    height: 658px;
    overflow: hidden;
}
.members01{
    background-color: #f6c99f; 
    width: 554px !important; 
    padding:5rem;
}
.members02{
    background: url(../assets/image/section5-member01.webp) no-repeat;
    background-size: cover;
}
.members03{
    background-color: #ee732f;
    padding: 4rem;
    width: 556px !important; 
}
.members04{
    background-color: #FDF18B;
    padding: 2rem;
    width: 574px !important; 
}
.members05{
    background: url(../assets/image/section5-member04.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 670px !important; 
}
.members06{
    background-color: #f6c99f;
    padding: 4rem;
    width: 580px !important; 
}
.members07{
    background-color: #ebbdfb;
    width: 567px !important; 
    padding: 2rem;
}
.members08{
    background-color: #d8d1be;
    width: 554px !important; 
    padding: 4rem;
}
.members01 .swiper-slide-title-wrap{
    justify-content: space-between;
    padding-bottom: 4rem;
}
#MainMembers .members01 .title, #MainMembers .members08 .title{
    font-size: 2.2rem;
    font-weight: 600;
}
.members01 .imgWrap{
    width: 14rem;
}
.members01 img{
    width: 100%;
}
.members01::after{
    content: '';
    width: 86%;
    height: 1px;
    border-bottom: 1px solid #000;
    display: block;
    position: absolute;
    top: 14%;
    left: 7%;
}
.swiper-font-big{
    font-size: 7.6rem;
    padding-bottom: 2.4rem;
}
.swiper-slide-text-wrap .text, .text{
    font-size: 2.7rem;
    line-height: 4rem;
    font-weight: 500;
    padding-bottom: 3.6rem;
}
.textLink{
    font-weight: 500;
    font-size: 2.8rem;
}
#MainMembers .members03 .title{
    font-size: 6.4rem;
    line-height: 6.7rem;
    padding-bottom: 44%;
    font-weight: 100;
}
.author{
    font-size: 2.7rem;
    font-weight: 500;
    line-height: 3.0rem;
}
#MainMembers .members04 .title{
    font-size: 6rem;
    line-height: 6.3rem;
    padding-bottom: 2rem;
}
.members04::after{
    content: '';
    width: 92%;
    height: 1px;
    border-bottom: 1px solid #000;
    display: block;
    position: absolute;
    top: 46%;
    left: 4%;
}
.number{
    font-size: 9.6rem;
}
.members08::after{
    content: '';
    width: 90%;
    height: 1px;
    border-bottom: 1px solid #000;
    display: block;
    position: absolute;
    top: 10%;
    left: 5%;
}
#MainMembers .members06 .title{
    font-size: 5.4rem;
    line-height: 5.7rem;
    padding-bottom: 5%;
}
.sourceText{
    padding-top: 1rem;
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 500;
}
/* sec7.MainRecommendation*/
#MainRecommendation{
    font-size: 4.8rem;
    width: 100%;
    max-width: 1700px;
    margin: 10rem auto ;
    padding: 0px 15px;
    line-height: 4.8rem;
    position: relative;
}
.slideGallery{
    width: 100%;
    max-width: 1376px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}
.MainRecommendation_innerWrap{
    width: 100%;
    margin: 0 auto;
}
.textBox{
    flex-shrink: 0;
    width: 100%;
    height: 50rem;
    transform: translateX(0);
    transition: all 0.3s;
    /* padding: 10rem; */
    /* margin: 0 auto; */
}
.disney{background-color: #ebbdfb;}
.bank{background-color: #aae69e;}
.health{background-color: #ade5fe;}
.recommedText{
    padding: 10rem;
}
.recommendText .author{
    padding-top: 6rem;
}
.prevBtn{
    top:40%;
    left:0;
    cursor: pointer;
    z-index: 1;
    width: 10rem;
    height: 10rem;
    border: 1px solid #000;
    border-radius: 10rem;
}
.prevBtn::before{
    content: '<';
    display: block;
    top: 21%;
    left: 36%;
    position: absolute;
    transition: all 0.3s;
}
.prevBtn:hover.prevBtn::before{
    left: 28%;
}
.nextBtn{
    top:40%;
    left: 94%;
    cursor: pointer;
    z-index: 1;
    width: 10rem;
    height: 10rem;
    border: 1px solid #000;
    border-radius: 10rem;
}
.nextBtn::before{
    content: '>';
    display: block;
    top: 21%;
    left: 36%;
    position: absolute;
    transition: all 0.3s;
}
.nextBtn:hover.nextBtn::before{
    left: 44%;
}
/* sec8.MainOpportunity */
#MainOpportunity{
    margin-bottom: 16rem;
}
#MainOpportunity .title{
    font-size: 6.5rem;
    margin: 3rem 0;
}
.cardWrap{
    width: 100%;
}
.card{
    width: 34%;
    height: 100%;
    margin: 1rem;
    transition: all 0.3s;
}
.cardTitle{
    height: 4rem;
    font-size: 2.2rem;
    font-weight: 500;
    border-bottom: 1px solid #000;
}
.cardContent{
    margin-top: 1rem;
}
.cardImg{
    width: 72%;
    height: 22rem;
}
.cardImg>img{width: 100%; height:100%;object-fit: cover;}
.cardText{
    padding: 0 2rem;
    font-size: 2.9rem;
    line-height: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardText>p{
    margin-bottom: 4rem;
}
.Cardlink{
    font-weight: 500;
}
.Cardlink>a{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: 1px solid #000;
    display: block;
    position: absolute;
    top: -46%;
    left: 43%;
    overflow: hidden;
}
.Readlink{
    font-size: 3rem;
    position: absolute;
    color: #000;
    top: 1rem;
    left: 21%;
    animation: none;
}
.card:hover {
    transform: translateY(-20px);
}
.card:hover .Readlink{
    animation: 0.3s arrowSlide;
} 